# Default owners for all files in this repo.
# These users will be automatically requested for review on PRs.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback
*                       @frankwyf

# Build & CI
Makefile                @frankwyf
.github/                @frankwyf

# Core library
src/billing.*           @frankwyf
src/statistics.*        @frankwyf
