---
Language: C
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

SortIncludes: true
IncludeBlocks: Preserve

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
...
